body
{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


#post
{
width: 1000px;
padding: 10px;
text-align: left;
border: 1px solid maroon;
}
#titulo
{
color: blueviolet;
}