body
{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#cabecera
{
    padding: 25px;
    font-size: larger;
    background-color: rgba(127, 255, 212, 0.411);
    text-align: center;
}

#post
{
color: rgb(37, 37, 37);
width: 1250px;
text-align: left;
border: 2px solid maroon;
}

#titulo
{
text-align: center;
color: rgb(0, 0, 0);
}